body {
    height: 100vh;
    /* display: flex; */
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: black;

}
header{
    display: inline;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}
footer{
    position: absolute;
    left: 50px;
}
footer a{
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    width: 100%;

}

.panel {
    position: relative;
    height: 75vh;
    curser: pointer;
    flex: .5;
    margin: 8px;
    padding: 8px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .7s ease-in-out;
}

#panel-1 {
    background-image: url("https://i.pinimg.com/originals/1d/2e/41/1d2e418a00a335baca52f3eac105013a.jpg");
}

#panel-2 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/1121098-pink-nature-wallpaper-1920x1080-lockscreen.jpg/1024px-1121098-pink-nature-wallpaper-1920x1080-lockscreen.jpg");
}

#panel-3 {
    background-image: url("https://cdn.wallpapersafari.com/21/14/g7YvS1.jpg");
}

#panel-4 {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/362/276/920/nature-4k-pc-full-hd-wallpaper-thumb.jpg");
}

#panel-5 {
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736882__340.jpg");
}

.panel h3 {
    color: white;
    font-size: 25px;
    position: absolute;
    left: 30px;
    bottom: 20px;
    margin: 0;
    opacity: 0; 
}
.panel.active h3 {
    opacity: 1;
    transition: opacity 400ms ease-in 400ms ;
}
.panel.active {
    flex: 7;
}